<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, 'Nome', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :date, "Data", style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :local, style: "display: block" %>
    <%= form.text_field :local %>
  </div>

  <div>
    <%= form.label :time, "Horário", style: "display: block" %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
