<div id="<%= dom_id schedule %>">
  <p>
    <strong>Nome:</strong>
    <%= schedule.name %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= schedule.date %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= schedule.local %>
  </p>

  <p>
    <strong>Horário:</strong>
    <%= schedule.time %>
  </p>

</div>
