<div id="<%= dom_id schedule %>">
  <p>
    <strong>Name:</strong>
    <%= schedule.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= schedule.date %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= schedule.local %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= schedule.time %>
  </p>

</div>
